<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificação</title>
    <meta name="description"
        content="Reserve sua estadia com facilidade e segurança em nosso site. Encontre os melhores hotéis, resorts e acomodações, com opções para todos os gostos e orçamentos. Faça sua reserva agora e garanta a melhor experiência para sua viagem." />
    <link rel="icon" href="/Public/logo.svg" type="image/svg+xml" />

    <link rel="preload" href="/Public/css/style.css" as="style" />
    <link rel="stylesheet" href="/Public/css/style.css" />
    <link rel="stylesheet" href="/Public/css/utilidades/tipografia.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap"
        rel="stylesheet">

</head>

<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
      
    <header class="header-bg">
        <div class="header container">
            <div class="navbar">
                <div class="logo">
                    <a href="/Public/indexp.html"><img src="/Public/logo.svg" alt="logo"></a>
                </div>
                <div class="menu-aberto">
                    <span></span>
                    <span id="header-span"></span>
                    <span></span>
                </div>
            </div>
            <!--Usado para abrir o menu com (oppened)-->
            <nav class="font-2-p cor-0">
                <a href="/Public/Views/suasReservas/semReservas.html"><img src="/Public/img/icones/header/reservas.svg"
                        alt="Ícone de Suas Reservas">Suas
                    Reservas</a>
                <a href="/Public/Views/favoritos/semFavoritos.html"><img src="/Public/img/icones/header/favoritos.svg"
                        alt="Ícone de Favoritos">Favoritos</a>
                <a href=""><img src="/Public/img/icones/header/notificacao.svg"
                        alt="Ícone de Notificações">Notificações</a>
                <a href="/Public/Views/conta/contaConfigOpcoes.html"><img src="/Public/img/icones/header/usuario.svg"
                        alt="Ícone de Usuário">Nome Usuário</a>
            </nav>
        </div>

    </header>

    <main class="contaLayout notificacao container">
        <section class="opcoesConta">
            <div class="titulos">
                <h3 class="font-1-st-bold">Olá Nome!</h3>
                <p class="font-2-p">EmailUsuário2@gmail.com</p>
            </div>
            <div class="agrupador">
                <div class="opcao">
                    <div class="bg-img">
                        <img src="/Public/img/conta/seusDados.svg" alt="Seus dados Icon">
                    </div>
                    <a id="hidden" class="font-2-p" href="/Public/Views/conta/contaDados.html">Seus Dados</a>
                </div>
                <div class="opcao">
                    <div class="bg-img">
                        <img src="/Public/img/conta/segurança.svg" alt="Seus dados Icon">
                    </div>
                    <a id="hidden" class="font-2-p" href="/Public/Views/conta/contaSeguranca.html">Configurações de
                        segurança</a>
                </div>
                <div class="opcao">
                    <div class="bg-img">
                        <img src="/Public/img/conta/notificacoes.svg" alt="Seus dados Icon">
                    </div>
                    <a id="hidden" class="font-2-p" href="/Public/Views/conta/contaNotificacao.html">Preferências de
                        notificações</a>
                </div>
            </div>
        </section>

        <section class="opcoesConfiguracao font-2-p">
            <div class="titulos">
                <h3 class="font-1-st-bold">Preferências de notificações</h3>
                <p class="font-2-p">Decida quais notificações quer receber</p>
            </div>
            <div class="agrupador">
                <div class="configuracaoWrapper">
                    <div class="informacao">
                        <p><span class="cor">*</span>Interesses</p>
                        <p class="dado">E-mails com base nos destinos que você tem interesse</p>
                    </div>
                    <div class="editarBox">
                        <div class="botao">Editar</div>
                    </div>
                </div>
                <div class="configuracaoWrapper">
                    <div class="informacao">
                        <p><span class="cor">*</span>Reservas</p>
                        <p class="dado">E-mails da sua reserva</p>
                    </div>
                    <div class="editarBox">
                        <div class="botao">Editar</div>
                    </div>
                </div>
                <div class="configuracaoWrapper">
                    <div class="informacao">
                        <p><span class="cor">*</span>Promoções</p>
                        <p class="dado">E-mails com as melhores promoções.</p>
                    </div>
                    <div class="editarBox">
                        <div class="botao">Editar</div>
                    </div>
                </div>
            </div>

        </section>

    </main>
    <script src="/Public/js/header.js"></script>
    <script src="/Public/js/conta.js"></script>
</body>

</html>