<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <meta name="description"
        content="Reserve sua estadia com facilidade e segurança em nosso site. Encontre os melhores hotéis, resorts e acomodações, com opções para todos os gostos e orçamentos. Faça sua reserva agora e garanta a melhor experiência para sua viagem." />
    <link rel="icon" href="/Public/logo.svg" type="image/svg+xml" />

    <link rel="preload" href="/Public/css/style.css" as="style" />
    <link rel="stylesheet" href="/Public/css/style.css" />
    <link rel="stylesheet" href="/Public/css/utilidades/tipografia.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="header-bg">
        <div class="header container">
            <div class="navbar">
                <div class="logo">
                    <a href=""><img src="/Public/logo.svg" alt="logo"></a>
                </div>
                <div class="menu-aberto">
                    <span></span>
                    <span id="header-span"></span>
                    <span></span>
                </div>
            </div>
            <!--Usado para abrir o menu com (oppened)-->
            <nav class="font-2-p cor-0">
                <a href="/Public/Views/suasReservas/semReservas.html"><img src="/Public/img/icones/header/reservas.svg"
                        alt="Ícone de Suas Reservas">Suas
                    Reservas</a>
                <a href="/Public/Views/favoritos/semFavoritos.html"><img src="/Public/img/icones/header/favoritos.svg"
                        alt="Ícone de Favoritos">Favoritos</a>
                <a href=""><img src="/Public/img/icones/header/notificacao.svg"
                        alt="Ícone de Notificações">Notificações</a>
                <a href=""><img src="/Public/img/icones/header/usuario.svg" alt="Ícone de Usuário">Nome Usuário</a>
            </nav>
        </div>

    </header>

    <main class="contaLayout container">
        <section class="titulos">
            
                
        </section>
        <section class="wrapper">
            <div class="usuario">
                <h3 class="font-1-st-bold">Olá Nome!</h3>
                <p class="font-2-p">EmailUsuário2@gmail.com</p>
            </div>
            <div class="opcoesConta">
                <div class="opcao">
                    <div class="bg-img">
                        <img src="/Public/img/conta/seusDados.svg" alt="Seus dados Icon">
                    </div>
                    <a id="hidden" class="font-2-p" href="/Public/Views/conta/contaDados.html">Seus Dados</a>
                </div>
                <div class="opcao">
                    <div class="bg-img">
                        <img src="/Public/img/conta/segurança.svg" alt="Seus dados Icon">
                    </div>
                    <a id="hidden" class="font-2-p" href="/Public/Views/conta/contaDados.html">Configurações de segurança</a>
                </div>
                <div class="opcao">
                    <div class="bg-img">
                        <img src="/Public/img/conta/notificacoes.svg" alt="Seus dados Icon">
                    </div>
                    <a id="hidden" class="font-2-p" href="/Public/Views/conta/contaDados.html">Preferências de e-mail</a>
                </div>
            </div>
            <div class="configuracao">
                <h3 class="font-1-st-bold">Dados Pessoais</h3>
                <p class="font-2-p">Atualize suas informações pessoais aqui</p>
            </div>    
            <div class="opcoesConfiguracao font-2-p">
                <div class="configuracaoWrapper">
                    <p class="informacao"><span class="cor">*</span>Nome:</p>
                    <div class="editarBox">
                        <p class="dado">NomeUsuario</p>
                        <div class="botao">Editar</div>
                    </div>
                </div>
                <div class="configuracaoWrapper">
                    <p class="informacao"><span class="cor">*</span>Nome de Exibição:</p>
                    <div class="editarBox">
                        <p class="dado">Nome de Exibição usuário</p>
                        <div class="botao">Editar</div>
                    </div>
                </div>
                <div class="configuracaoWrapper">
                    <p class="informacao"><span class="cor">*</span>Gênero:</p>
                    <div class="editarBox">
                        <p class="dado">Masculino</p>
                        <div class="botao">Editar</div>
                    </div>
                </div>
                <div class="configuracaoWrapper">
                    <p class="informacao"><span class="cor">*</span>Data de Nascimento :</p>
                    <div class="editarBox">
                        <p class="dado">00/00/000</p>
                        <div class="botao">Editar</div>
                    </div>
                </div>
                <div class="configuracaoWrapper">
                    <p class="informacao"><span class="cor">*</span>E-mail:</p>
                    <div class="editarBox">
                        <p class="dado">EmailUsuáro@gmail.com</p>
                        <div class="botao">Editar</div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script src="/Public/js/header.js"></script>
    <script src="/Public/js/conta.js"></script>
</body>

</html>