.contaLayout {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin-top: 6rem;
    gap: 2rem;
}

.contaLayout h1 {
    color: var(--cor-p2);
}

.contaLayout p {
    margin-top: 0.5rem;
}

.contaLayout .titulos {
    max-width: 100%;
    width: 100%;
    margin-bottom: 3rem;
}
.contaLayout .opcoesConta, .contaLayout .opcoesConfiguracao{
    border: 2px solid var(--cor-2);
    border-radius: 2rem;
    padding: 2rem;
}
.contaLayout .opcoesConta .opcao {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
}

.contaLayout .opcoesConta .opcao .bg-img {
    background-color: var(--cor-p0);
    max-width: 4rem;
    max-height: 4rem;
    padding: 1rem;
    border-radius: 50%;
}

.contaLayout .opcoesConta .opcao a:hover {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--cor-p3);
}

.dados .opcoesConta .opcao:nth-child(1) .bg-img, 
.seguranca .opcoesConta .opcao:nth-child(2) .bg-img,
.notificacao .opcoesConta .opcao:nth-child(3) .bg-img {
    background-color: var(--cor-3);
}

.dados .opcoesConta .opcao:nth-child(1), 
.seguranca .opcoesConta .opcao:nth-child(2),
.notificacao .opcoesConta .opcao:nth-child(3) {
    color: var(--cor-3);
}

.dados .opcoesConta .opcao:nth-child(1) a:hover, 
.seguranca .opcoesConta .opcao:nth-child(2) a:hover,
.notificacao .opcoesConta .opcao:nth-child(3) a:hover{
    text-decoration: none;
    font-weight: 400;
    cursor: default;
}

.contaLayout .configuracaoWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.contaLayout .configuracaoWrapper:not(:last-child) {
    border-bottom: 1px solid var(--cor-2);
}

.contaLayout .informacao p:nth-child(1) {
    font-weight: 500;
}
.contaLayout .dado{
    color: var(--cor-10);
}

.contaLayout .cor {
    color: var(--cor-5);
    font-weight: 600;
}

.contaLayout .editarBox {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 4rem;
}

.contaLayout .editarBox .botao {
    width: auto;
    height: 4rem;
}
@media (max-width: 900px) {
    .contaLayout{
        grid-template-columns: 1fr;
    }
    .titulos:first-child{
        margin-bottom: 0.1rem;
    }
    .contaLayout .opcoesConta .agrupador{
        display: flex;
        gap: 20px;
    }
    .contaLayout .opcoesConta .opcao .bg-img {
        display: none;
    }
}
@media (max-width: 650px) {
    .contaLayout .editarBox{
        display: grid;
    
    }
}
@media (max-width: 500px) {
    .contaLayout .configuracaoWrapper {
        display: block;
    }
    .contaLayout .editarBox {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        width: 100%;
    }
}
@media (max-width: 400px) {
    .contaLayout .opcoesConta .titulos p{
        margin-bottom: 1.5rem;
    }
    .contaLayout .opcoesConta .agrupador{
        display: block;
        gap: 0px;
    }
    .contaLayout .opcoesConta .agrupador .opcao{
        margin: 1rem 0px
    }
}