<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <meta name="description"
        content="Reserve sua estadia com facilidade e segurança em nosso site. Encontre os melhores hotéis, resorts e acomodações, com opções para todos os gostos e orçamentos. Faça sua reserva agora e garanta a melhor experiência para sua viagem." />
    <link rel="icon" href="/Public/logo.svg" type="image/svg+xml" />

    <link rel="preload" href="/Public/css/style.css" as="style" />
    <link rel="stylesheet" href="/Public/css/style.css" />
    <link rel="stylesheet" href="/Public/css/utilidades/tipografia.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap"
        rel="stylesheet">

</head>

<body class="senha">
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

    <header class="header-bg">
        <div class="header container">
            <div class="navbar">
                <div class="logo">
                    <a href="/Public/index.html"><img src="/Public/logo.svg" alt="logo"></a>
                </div>
                <div class="menu-aberto">
                    <span></span>
                    <span id="header-span"></span>
                    <span></span>
                </div>
            </div>
            <!--Usado para abrir o menu com (oppened)-->
            <nav class="font-2-p cor-0">
                <a href=""><img src="/Public/img/icones/header/notificacao.svg" alt="Ícone de Notificações">Notificações</a>
                <a class="botao" href="/Public/Views/cadastro.html">Cadastre-se</a>
                <a class="botao" href="/Public/Views/login.html">Login</a>
            </nav>
        </div>
    </header>
    
    <main class="senhaLayout font-2-t container">
        <h3>Qual o seu email?</h3>
        <input class="font-2-t" type="email" id="senha" for="Senha" placeholder="E-mail" required>
        <p class="hidden">Email não existe</p>
        <a class="botao" href="/Public/Views/senha/novaSenha.html">Confirmar</a>
        <p class="hidden">Operação bem sucedida</p>
    </main>
    <script src="/Public/js/header.js"></script>
</body>

</html>